<!-- Filter Datatable Options Starts -->
<section id="filter" class="mb-3">
    <div class="row">
        <div class="col-12">
            <div class="content-header">Attendance Table</div>
            <p class="content-sub-header">A list of all attendances with their detail.</p>
            <hr>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                    <div class="col-sm-6">
                    <input type='text' class="form-control round" style='padding:8px 20px; margin:15px 0px;width:40%;' placeholder='Search' (keyup)='updateFilter($event)'
                    />
                    </div>
                    <div class="col-sm-6">
                        <a (click)="generateAttendance()" class="form-control round" style="padding:8px 20px; margin:15px 0px;width:20%; float:right"><i class="ft-file-text"></i> Generate Attendance</a>
                        
                        <a routerLink="/attendances/create" class="form-control round" style="padding:8px 20px; margin:15px 0px;width:20%; float:right"><i class="ft-upload"></i> Upload Attendance</a>
                    </div>
            </div>

            <ngx-datatable #table class='bootstrap' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                [rowHeight]="'auto'" [limit]="10" [rows]='rows'>
                <ngx-datatable-column name="ID" sortable="true" prop="_id.ac_no">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>              
                        {{value}}              
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Name" sortable="true" prop="_id.first_name">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>              
                        {{value}}              
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Status" sortable="true" prop="_id.status">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>              
                        {{value}}    
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Actions" sortable="false" prop="_id._id">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                             
                          <a  (click)="detail(value)">
                            <i class="ft-eye"></i>
                          </a>
              
                    </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</section>
<!-- Filter Datatable Options Ends -->