<!--Login Page Starts-->
<section id="login">
    <div class="container-fluid">
        <div class="row full-height-vh">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="card gradient-indigo-light-blue text-center width-400">
                    <div class="card-img overlap">
                        <img alt="element 06" class="mb-1" src="assets/img/portrait/avatars/avatar-08.png" width="190">
                    </div>
                    <div class="card-body">
                        <div class="card-block">
                            <h2>Login</h2>
                            <form novalidate="" (ngSubmit)="onSubmit()" #f="ngForm">

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="email" class="form-control" name="inputEmail" id="inputEmail" #inputEmail="ngModel" [(ngModel)]="model.email" placeholder="Email" ngModel required email>  
                                    </div>
                                    <small class="form-text text-muted danger" *ngIf="!inputEmail.valid && 
                                    (inputEmail.dirty || inputEmail.touched)">Please enter a valid email!</small>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="password" class="form-control" name="inputPass" id="inputPass" #inputPass="ngModel" [(ngModel)]="model.password" placeholder="Password" ngModel required>
                                    </div>
                                    <small class="form-text text-muted danger" *ngIf="!inputPass.valid && 
                                    (inputPass.dirty || inputPass.touched)">Please enter your password!</small>
                                </div>

                                <!-- <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                                                <input type="checkbox" class="custom-control-input" checked>
                                                <span class="custom-control-indicator ml-4"></span>
                                                <span class="pl-2">Remember Me</span>
                                            </label>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="form-group">
                                    <div class="danger" *ngIf="error">{{ error }}</div>
                                </div>
                                

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-pink btn-block btn-raised" [disabled]="loading" [disabled]="!f.valid">Login</button>
                                        <button type="button" class="btn btn-secondary btn-block btn-raised">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="float-left"><a (click)="onForgotPassword()">Recover Password</a></div>
                        <!-- <div class="float-right"><a (click)="onRegister()">New User?</a></div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Login Page Ends-->