<div id="print-section">
<!--Basic User Details Starts-->
<!-- Overlap Image Cards start -->
<section class="doNotPrint" id="overlap-image-examples">
    <div class="row">
        <div class="col-6">
            <div class="content-header">Payroll for <strong>{{ data.employee.first_name  | uppercase}} </strong>                
            </div>
        </div>

        <div class="col-6">
            <div class="float-right">
                <button class="btn btn-lg btn-primary btn-raised" (click)="print()"><strong> <i class="ft-printer"></i> Print Payroll </strong></button> 
            </div> 
        </div>
    </div>
    <div class="form-horizontal">
    <div class="form-group ">
            <div class="">
                 <input type="month"  id="month" class="form-control" (ngModelChange)="updateMonth($event)" [(ngModel)]="month_input" #month="ngModel" name="month">
            </div>
        </div>
        </div>
</section>

<!--About section starts-->
<section id="payroll">
<!--Payroll template starts-->
<section class="payroll-template print_this">
    <div class="card">
        <div class="card-body p-3">
            <div id="payroll-template" class="card-block">
                <!-- Payroll Company Details -->
                <div id="payroll-company-details" class="row">
                    <div class="col-6 text-left">
                        <img src="assets/img/logos/logo-big-black.png" alt="company logo" class="mb-2" width="70">
                        <ul class="px-0 list-unstyled">
                            <li class="text-bold-800">SAHLE Pvt. Ltd. Co</li>
                            <li>Addis Ababa,</li>
                            <li>Ethiopia</li>
                        </ul>
                    </div>
                    <div class="col-6 text-right">
                        <h2>Payroll</h2>
                        <p class="pb-3"># PAY-001001</p>
                        <ul class="px-0 list-unstyled">
                            <li>Net Pay</li>
                            <li class="lead text-bold-800">{{ data.net_pay }}</li>
                        </ul>
                    </div>
                </div>
                <!--/ Payroll Company Details -->
                <!-- Payroll Customer Details -->
                <div id="payroll-customer-details" class="row pt-2">
                    <div class="col-sm-12 text-left">
                        <p class="text-muted">Payable To</p>
                    </div>
                    <div class="col-6 text-left">
                        <ul class="px-0 list-unstyled">
                            <li><span class="text-muted">Name : </span><strong>{{ data.employee.first_name | uppercase}}</strong></li>
                            <li><span class="text-muted">Phone Number :</span> {{ data.employee.phone_number }}</li>
                            <li><span class="text-muted">ID :</span> {{ data.employee.employee_id }}</li>
                        </ul>
                    </div>
                    <div class="col-6 text-right">
                        <p><span class="text-muted">Date :</span> {{ data.date_created | date}}</p>
                        <p><span class="text-muted">Days Worked :</span> {{ data.days_worked }}/{{ data.work_days }}</p>
                        <p><span class="text-muted">Salary Month :</span> {{ data.month }}/{{ data.year }}</p>
                    </div>
                </div>
                <!--/ Payroll Customer Details -->
                <!-- Payroll Items Details -->
                <div id="payroll-items-details" class="pt-2">
                  
                    <div class="row">
                        <div class="col-md-6">
                                <p class="lead">Earnings</p>
                                <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                                
                                                <tr>
                                                    <td>Basic Salary</td>
                                                    <td class="text-right">{{ data.employee.salary }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Overtime</td>
                                                    <td class="text-right">{{ data.over_time }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Allowance</td>
                                                    <td class="text-right">{{ data.allowance }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Gross Salary Taxable</td>
                                                    <td class="text-right">{{ data.gross_salary_taxbel }}</td>
                                                </tr>
                                                <tr class="bg-grey bg-lighten-4">
                                                    <td class="text-bold-800">Gross Salary</td>
                                                    <td class="text-bold-800 text-right"><strong>{{ data.gross_salary }}</strong></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <p class="lead">Deductions</p>
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        
                                        <tr>
                                            <td>Income Tax</td>
                                            <td class="text-right">{{ data.income_tax }}</td>
                                        </tr>
                                        <tr>
                                            <td>Employee Pension Contribution</td>
                                            <td class="text-right">{{ data.employee_contribution }}</td>
                                        </tr>
                                        <tr>
                                            <td>Loan</td>
                                            <td class="text-right">{{ data.loan }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold-800">Penality</td>
                                            <td class="text-bold-800 text-right">{{ data.penality }}</td>
                                        </tr>
                                        
                                        <tr class="bg-grey bg-lighten-4">
                                            <td class="text-bold-800">Total deduction</td>
                                            <td class="pink text-bold-800 text-right"><strong>(-) {{ data.total_deduction }}</strong></td>
                                        </tr>
                                        <tr class="bg-grey bg-lighten-4">
                                                <td class="text-bold-800"><strong>Net pay</strong></td>
                                                <td class="text-bold-800 text-right"><strong>{{ data.net_pay }}</strong></td>
                                            </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center">
                                <p>Authorized person</p>
                                <img src="assets/img/pages/signature-scan.png" alt="signature" class="width-250">
                                <h6>Helen Tesfaye</h6>
                                <p class="text-muted">Managing Director</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Payroll Footer -->
                
                <!--/ Payroll Footer -->
            </div>
        </div>
    </div>
</section>
<!--Payroll template ends-->
</section>
<!--About section ends-->
</div>