
<div class="row">
		<div class="col-md-10">
			<div class="card">
				<div class="card-header">
					<div class="form-actions right">
							<h4 class="card-title" id="horz-layout-icons">Add Employee</h4>
					</div>
					<hr>
					<!-- <p class="mb-0">Add notice/guide here</p> -->
				</div>
				<div class="card-body">
					<div class="px-3">
						<div class="row">
							<div class="col-md-10">
								<form class="form form-horizontal"  #f="ngForm"  (submit)="onSubmit()">
									<div class="form-body">
										<div class="form-group row">
											<label class="col-md-3 label-control" for="firstName">Full Name: </label>
											<div class="col-md-9">
												<div class="position-relative has-icon-left">
													<input type="text" id="firstName" class="form-control" [(ngModel)]="model.first_name" required #firstName="ngModel" [ngModelOptions]="{updateOn: 'blur'}" name="firstName">					
													<div class="form-control-position">
														<i class="ft-user"></i>
													</div>
													<small class="form-text text-muted danger" *ngIf="!firstName.valid && 
													(firstName.dirty || firstName.touched)">First Name is required!</small>
												</div>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-md-3 label-control" for="timesheetinput1">Email: </label>
											<div class="col-md-9">
												<div class="position-relative has-icon-left">
													<input type="text" id="inputEmail" class="form-control" [(ngModel)]="model.email" required email #inputEmail="ngModel" [ngModelOptions]="{updateOn: 'blur'}" name="inputEmail">
													<div class="form-control-position">
														<i class="ft-at-sign"></i>
													</div>
													<small class="form-text text-muted danger" *ngIf="!inputEmail.valid
													&& (inputEmail.dirty || inputEmail.touched)">Please enter a valid email!</small>
												</div>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-md-3 label-control">Department: </label>
											<div class="col-md-9">
												<fieldset class="form-group">
													<select class="custom-select d-block w-100" id="department" [(ngModel)]="model.department" required #department="ngModel" [ngModelOptions]="{updateOn: 'blur'}" name="department">
														<option *ngFor="let department of departments" value="{{ department._id }}">{{department.name}}</option>
													</select>
												</fieldset>
												<small class="form-text text-muted danger" *ngIf="!department.valid && 
												(department.dirty || department.touched)">Department is required!</small>  
											</div>
										</div>
										<div class="form-group row">
											<label class="col-md-3 label-control" for="phoneNumber">Phone Number: </label>
											<div class="col-md-9">
												<div class="position-relative has-icon-left">
													<input type="text" id="phoneNumber" class="form-control"  [(ngModel)]="model.phone_number" required #phoneNumber="ngModel" [ngModelOptions]="{updateOn: 'blur'}" name="phoneNumber">
													<div class="form-control-position">
														<i class="ft-phone"></i>
													</div>
													<small class="form-text text-muted danger" *ngIf="!phoneNumber.valid && 
													(phoneNumber.dirty || phoneNumber.touched)">Phone Number is required!</small>
												</div>
											</div>
										</div>																	
										<div class="form-group row">
											<label class="col-md-3 label-control" for="employeeId">AC No: </label>
											<div class="col-md-9">
												<div class="position-relative has-icon-left">
													<input type="text" id="employeeId" class="form-control" [(ngModel)]="model.ac_no" required #employeeId="ngModel" [ngModelOptions]="{updateOn: 'blur'}" name="employeeId">
													<div class="form-control-position">
														<i class="ft-briefcase"></i>
													</div>
													<small class="form-text text-muted danger" *ngIf="!employeeId.valid && 
													(employeeId.dirty || employeeId.touched)">AC No is required!</small>
												</div>
											</div>
										</div>
	
										<div class="form-group row">
											<label class="col-md-3 label-control" for="startDate">Start Date: </label>
											<div class="col-md-9">
												<div class="position-relative has-icon-left">
													<input type="date" id="startDate" class="form-control" [(ngModel)]="model.starting_date" required #startDate="ngModel" [ngModelOptions]="{updateOn: 'blur'}" name="startDate">
													<div class="form-control-position">
														<i class="ft-message-square"></i>
													</div>
													<small class="form-text text-muted danger" *ngIf="!startDate.valid && 
													(startDate.dirty || startDate.touched)">Starting Date is required!</small>
												</div>
											</div>
										</div>
	
										<div class="form-group row">
											<label class="col-md-3 label-control" for="birthDate">Birth Date: </label>
											<div class="col-md-9">
												<div class="position-relative has-icon-left">
													<input type="date" id="birthDate" class="form-control" [(ngModel)]="model.birth_date" required #birthDate="ngModel" [ngModelOptions]="{updateOn: 'blur'}" name="birthDate">
													<div class="form-control-position">
														<i class="ft-message-square"></i>
													</div>
													<small class="form-text text-muted danger" *ngIf="!birthDate.valid && 
													(birthDate.dirty || birthDate.touched)">Birth date is required!</small>
												</div>
											</div>
										</div>
	
										<div class="form-group row">
											<label class="col-md-3 label-control">Salary: </label>
											<div class="col-md-9">
												<div class="input-group">
													<span class="input-group-addon">$</span>
													<input type="text" class="form-control" id="salary" aria-label="Amount (to the nearest birr)" [(ngModel)]="model.salary" required #salary="ngModel" [ngModelOptions]="{updateOn: 'blur'}" name="salary">
													<span class="input-group-addon">.00</span>
												</div>
												<small class="form-text text-muted danger" *ngIf="!salary.valid && 
												(salary.dirty || salary.touched)">Salary is required!</small>
											</div>
										</div>
	
										<div class="form-group row">
											<label class="col-md-3 label-control">Gender: </label>
											<div class="col-md-9">
												<fieldset class="form-group">
													<select class="custom-select d-block w-100" id="gender" [(ngModel)]="model.gender"  required #gender="ngModel" [ngModelOptions]="{updateOn: 'blur'}" name="gender">
														<option value="0">Male</option>
														<option value="1">Female</option>
													</select>
												</fieldset>
												<small class="form-text text-muted danger" *ngIf="!gender.valid && 
												(gender.dirty || gender.touched)">Gender is required!</small>  
											</div>
										</div>
										<div class="form-group row">
											<label class="col-md-3 label-control">Status: </label>
											<div class="col-md-9">
												<fieldset class="form-group">
													<select class="custom-select d-block w-100" id="status" [(ngModel)]="model.status" required #status="ngModel" [ngModelOptions]="{updateOn: 'blur'}" name="status">
														<option value="1">Active</option>
														<option value="0">Inactive</option>
													</select>
												</fieldset>
												<small class="form-text text-muted danger" *ngIf="!status.valid && 
												(status.dirty || status.touched)">Status is required!</small>  
											</div>
										</div>
	
	
									</div>
										<div class="form-actions right">
										<button type="button" class="btn btn-raised btn-warning mr-1">
											<i class="ft-x"></i> Cancel
										</button>
										<button type="submit" class="btn btn-raised btn-primary" [disabled]="!f.valid">
											<i class="fa fa-check-square-o"></i> Save
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	