<!--Basic User Details Starts-->
<!-- Overlap Image Cards start -->
<section id="overlap-image-examples">
    <div class="row">
        <div class="col-12 mt-3 mb-3">
            <div class="content-header">Employee Detail</div>
            <p class="content-sub-header">Personal information about employee</p>
        </div>
    </div>

    <div class="row" matchHeight ="card">
     
        <div class="col-12">
            <div class="card card-inverse bg-primary text-center">
                <div class="card-body">
                    <div class="card-img overlap">
                        <img src="{{data.picture}}" alt="element 06" width="190" class="mb-1">
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">{{ data.first_name }}</h4>
                        <p class="card-text">Addis Ababa</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>

<!--About section starts-->
<section id="about">

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Personal Information</h5>
                </div>
                <div class="card-body">
					<div class="card-block">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4">
                                <ul class="no-list-style">
									<li class="mb-2">
                                        <span class="text-bold-500 primary"><a><i class="ft-map-pin font-small-3"></i> AC No:</a></span>
                                        <span class="display-block overflow-hidden">{{ data.ac_no }}</span>
                                    </li>
									<li class="mb-2">
                                        <span class="text-bold-500 primary"><a><i class="icon-present font-small-3"></i> Birthday:</a></span>
                                        <span class="display-block overflow-hidden">{{ data.birth_date }}</span>
                                    </li>
                                    <li class="mb-2">
                                        <span class="text-bold-500 primary"><a><i class="ft-globe font-small-3"></i> Lives in:</a></span>
                                        <span class="display-block overflow-hidden">Addis Ababa, Ethiopia</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <ul class="no-list-style">
                                    <li class="mb-2">
                                        <span class="text-bold-500 primary"><a><i class="ft-user font-small-3"></i> Gender:</a></span>
                                        <span class="display-block overflow-hidden">{{ data.gender }}</span>
                                    </li>
                                    <li class="mb-2">
                                        <span class="text-bold-500 primary"><a><i class="ft-mail font-small-3"></i> Email:</a></span>
                                        <a class="display-block overflow-hidden">{{ data.email }}</a>
                                    </li>
                                    <li class="mb-2">
                                        <span class="text-bold-500 primary"><a><i class="ft-money font-small-3"></i> Salary:</a></span>
                                        <a class="display-block overflow-hidden">{{ data.salary }}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <ul class="no-list-style">
                                    <li class="mb-2">
                                        <span class="text-bold-500 primary"><a><i class="ft-smartphone font-small-3"></i> Phone Number:</a></span>
                                        <span class="display-block overflow-hidden">{{ data.phone_number }}</span>
                                    </li>
                                    <li class="mb-2">
                                        <span class="text-bold-500 primary"><a><i class="ft-briefcase font-small-3"></i> Department:</a></span>
                                        <span class="display-block overflow-hidden">{{ data.last_name }}</span>
                                    </li>
                                    <li class="mb-2">
                                        <span class="text-bold-500 primary"><a><i class="ft-book font-small-3"></i> Joined:</a></span>
                                        <span class="display-block overflow-hidden">{{ data.starting_date }}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <hr>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--About section ends-->
