
<div class="row">
	<div class="col-md-10">
		<div class="card">
			<div class="card-header">
				<div class="form-actions right">
						<h4 class="card-title" id="horz-layout-icons">Edit Department</h4>
				</div>
				<hr>
				<!-- <p class="mb-0">Add notice/guide here</p> -->
			</div>
			<div class="card-body">
				<div class="px-3">
					<div class="row">
						<div class="col-md-10">
							<form class="form form-horizontal"  #f="ngForm"  (submit)="onSubmit()">
								<div class="form-body">
									<div class="form-group row">
										<label class="col-md-3 label-control" for="firstName">Name: </label>
										<div class="col-md-9">
											<div class="position-relative has-icon-left">
												<input type="text" id="firstName" class="form-control" [(ngModel)]="model.name" required #firstName="ngModel" [ngModelOptions]="{updateOn: 'blur'}" name="firstName">					
												<div class="form-control-position">
													<i class="ft-user"></i>
												</div>
												<small class="form-text text-muted danger" *ngIf="!firstName.valid && 
												(firstName.dirty || firstName.touched)"> Name is required!</small>
											</div>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-md-3 label-control" for="timesheetinput1">Starting Time: </label>
										<div class="col-md-9">
											<div class="position-relative has-icon-left">
												<input type="text" id="startingTime" class="form-control" [(ngModel)]="model.shift_starting_time" required #startingTime="ngModel" [ngModelOptions]="{updateOn: 'blur'}" name="startingTime">
												<div class="form-control-position">
													<i class="ft-clock"></i>
												</div>
												<small class="form-text text-muted danger" *ngIf="!startingTime.valid
												&& (startingTime.dirty || startingTime.touched)">Starting time is required!</small>
											</div>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-md-3 label-control" for="endingTime">Ending Time: </label>
										<div class="col-md-9">
											<div class="position-relative has-icon-left">
												<input type="text" id="endingTime" class="form-control" [(ngModel)]="model.shift_ending_time" required #endingTime="ngModel" [ngModelOptions]="{updateOn: 'blur'}" name="endingTime">
												<div class="form-control-position">
													<i class="ft-clock"></i>
												</div>
												<small class="form-text text-muted danger" *ngIf="!endingTime.valid
												&& (endingTime.dirty || endingTime.touched)">Ending time is required!</small>
											</div>
										</div>
									</div>
									
								</div>
									<div class="form-actions right">
									<button type="button" class="btn btn-raised btn-warning mr-1">
										<i class="ft-x"></i> Cancel
									</button>
									<button type="submit" class="btn btn-raised btn-primary" [disabled]="!f.valid">
										<i class="fa fa-check-square-o"></i> Save
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

