<!-- Filter Datatable Options Starts -->
<section id="filter" class="mb-3">
    <div class="row">
        <div class="col-12">
            <div class="content-header">Department Table</div>
            <p class="content-sub-header">A list of all departments with their detail.</p>
            <hr>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                    <div class="col-sm-6">
                    <input type='text' class="form-control round" style='padding:8px 20px; margin:15px 0px;width:40%;' placeholder='Search' (keyup)='updateFilter($event)'
                    />
                    </div>
                    <div class="col-sm-6">
                            <a routerLink="/departments/create" class="form-control round" style="padding:8px 20px; margin:15px 0px;width:25%; float:right"><i class="ft-plus"></i> Add Department</a>
                    </div>
                    
        
            </div>

            <ngx-datatable #table class='bootstrap' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                [rowHeight]="'auto'" [limit]="10" [rows]='rows'>
                <ngx-datatable-column name="Name" sortable="true" prop="name">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>              
                        {{value}}              
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Shift Starting Time" sortable="true" prop="shift_starting_time">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>              
                        {{value}}              
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Shift Ending Time" sortable="true" prop="shift_ending_time">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>              
                        {{value}}    
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Date Created" sortable="true" prop="date_created">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>              
                        {{value | date}}              
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Actions" sortable="false" prop="_id">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              
                          <a (click)="edit(value)">
                            <i class="ft-edit"></i>
                          </a>
              
                    </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</section>
<!-- Filter Datatable Options Ends -->