<!-- Basic form layout section start -->
<section id="basic-form-layouts">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title" id="basic-layout-form">Payroll for {{ model.month }}/{{model.year}}</h4>
					</div>
				<div class="card-body">
					<div class="px-3">
						<form class="form"   #f="ngForm"  (submit)="onSubmit()">
							<div class="form-body">
								<h4 class="form-section"><i class="ft-user"></i> Personal Info</h4>
								<div class="row">
									<div class="col-md-3">
									<div class="form-group">
										
												<label class="label-control" for="firstName">Name: </label>
											<div class="position-relative has-icon-left">
												<input type="text" id="firstName" class="form-control" value="{{model.employee.first_name}}" disabled name="firstName">					
												<div class="form-control-position">
													<i class="ft-user"></i>
												</div>
											</div>
										
									</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<label for="projectinput2">Department</label>
											<input type="text" id="projectinput2" class="form-control"  name="lname">
										</div>
									</div>
								
									<div class="col-md-3">
											<div class="form-group">
												<label class="label-control" for="timesheetinput1">Email: </label>
												<div class="position-relative has-icon-left">
													<input type="text" id="inputEmail" class="form-control" value="{{model.employee.email}}" disabled name="inputEmail">
													<div class="form-control-position">
														<i class="ft-at-sign"></i>
													</div>
												</div>
											</div>
									</div>
									<div class="col-md-3">
											<div class="form-group">
												<label class="label-control" for="phoneNumber">Phone Number: </label>
												<div class="position-relative has-icon-left">
													<input type="text" id="phoneNumber" class="form-control" value="{{model.employee.phone_number}}" disabled name="phoneNumber">
													<div class="form-control-position">
														<i class="ft-phone"></i>
													</div>
												</div>	
											</div>
									</div>
								</div>

								<h4 class="form-section"><i class="ft-file-text"></i> Earnings</h4>

								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="label-control" for="phoneNumber">Salary Month: </label>
											<div class="position-relative has-icon-left">
													<input type="month"  id="month" class="form-control" (ngModelChange)="updateMonth($event)" [(ngModel)]="month_input" #month="ngModel" name="month">
													<div class="form-control-position">
														<i class="ft-calendar"></i>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
										<div class="col-md-6">
												<div class="form-group">
													<label class="label-control" for="phoneNumber">Basic Salary: </label>
													<div class="position-relative has-icon-left">
														<input type="text" id="phoneNumber" class="form-control" value="{{model.employee.salary}}" disabled name="phoneNumber">
														<div class="form-control-position">
																<!-- <i class="ft-phone"></i> -->
															$ 
														</div>
													</div>
												</div>
													
											<div class="row">
													<div class="col-md-6">
														<div class="form-group ">
															<label class="label-control" for="overtime">Overtime: </label>
															<div class="position-relative has-icon-left">
																<input type="text" id="overtime" class="form-control" (keyup)="updateGross($event)" [(ngModel)]="model.over_time" #overtime="ngModel" name="overtime">
																<div class="form-control-position">
																	<!-- <i class="ft-briefcase"></i> -->
																	$
																</div>
																<small class="form-text text-muted danger" *ngIf="!overtime.valid && 
																(overtime.dirty || overtime.touched)">Overtime is required!</small>
															</div>	
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group">
															<label class="label-control" for="allowance">Allowance: </label>
															<div class="position-relative has-icon-left">
																<input type="text" id="allowance" class="form-control" (keyup)="updateGross($event)" [(ngModel)]="model.allowance" #allowance="ngModel" name="allowance">
																<div class="form-control-position">
																	<!-- <i class="ft-briefcase"></i> -->
																	$
																</div>
																<small class="form-text text-muted danger" *ngIf="!allowance.valid && 
																(allowance.dirty || allowance.touched)">Allowance is required!</small>
															</div>
														</div>	
													</div>
												</div>
										</div>
										<div class="col-md-6">
												<div class="form-group">
													<label class="label-control" for="grossSalaryTaxbel">Gross Salary Taxable: </label>
													<div class="position-relative has-icon-left">
														<input type="text" id="grossSalaryTaxbel" class="form-control" [(ngModel)]="model.gross_salary_taxbel" disabled #grossSalaryTaxbel="ngModel" [ngModelOptions]="{updateOn: 'blur'}" name="grossSalaryTaxbel">
														<div class="form-control-position">
															<!-- <i class="ft-briefcase"></i> -->
															$
														</div>
														<small class="form-text text-muted danger" *ngIf="!grossSalaryTaxbel.valid && 
														(grossSalaryTaxbel.dirty || grossSalaryTaxbel.touched)">Gross Salary Taxable is required!</small>
													</div>	
												</div>
												<div class="form-group">
														<label class="label-control" for="grossSalary"><strong>Gross Salary: </strong></label>
														<div class="position-relative has-icon-left">
															<input type="text" id="grossSalary" class="form-control" [(ngModel)]="model.gross_salary" disabled #grossSalary="ngModel" name="grossSalary">
															<div class="form-control-position">
																<!-- <i class="ft-briefcase"></i> -->
																$
															</div>
															<small class="form-text text-muted danger" *ngIf="!grossSalary.valid && 
															(grossSalary.dirty || grossSalary.touched)">Gross Salary is required!</small>
														</div>
													</div>
										</div>
								</div>

								<h4 class="form-section"><i class="ft-file-text"></i> Deductions</h4>

								<div class="row">
									<div class="col-md-6">
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="label-control" for="incomeTax">Income Tax: </label>
														<div class="position-relative has-icon-left">
															<input type="text" id="incomeTax" class="form-control" [(ngModel)]="model.income_tax" disabled #incomeTax="ngModel" [ngModelOptions]="{updateOn: 'blur'}"
															name="incomeTax">
															<div class="form-control-position">
																<!-- <i class="ft-briefcase"></i> -->
																$
															</div>
															<small class="form-text text-muted danger" *ngIf="!incomeTax.valid && 
															(incomeTax.dirty || incomeTax.touched)">Income Tax is required!</small>
														</div>
													</div>													
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label class="label-control" for="employeeContribution">Employee Pension Contribution: </label>
														<div class="position-relative has-icon-left">
															<input type="text" id="employeeContribution" class="form-control" (keyup)="updateDeduction($event)" [(ngModel)]="model.employee_contribution" #employeeContribution="ngModel" name="employeeContribution">
															<div class="form-control-position">
																<!-- <i class="ft-briefcase"></i> -->
																$
															</div>
															<small class="form-text text-muted danger" *ngIf="!employeeContribution.valid && 
															(employeeContribution.dirty || employeeContribution.touched)">Employee Contribution is required!</small>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="label-control" for="loan">Loan: </label>
														<div class="position-relative has-icon-left">
															<input type="text" id="loan" class="form-control" (keyup)="updateDeduction($event)" [(ngModel)]="model.loan" #loan="ngModel" name="loan">
															<div class="form-control-position">
																<!-- <i class="ft-briefcase"></i> -->
																$
															</div>
															<small class="form-text text-muted danger" *ngIf="!loan.valid && 
															(loan.dirty || loan.touched)">Loan is required!</small>
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label class="label-control" for="penality">Penality: </label>
														<div class="position-relative has-icon-left">
															<input type="text" id="penality" class="form-control" (keyup)="updateDeduction($event)" [(ngModel)]="model.penality" required #penality="ngModel" name="penality">
															<div class="form-control-position">
																<!-- <i class="ft-briefcase"></i> -->
																$
															</div>
															<small class="form-text text-muted danger" *ngIf="!penality.valid && 
															(penality.dirty || penality.touched)">Penality is required!</small>
														</div>
													</div>
												</div>
											</div>
												
												</div>
												
													<div class="col-md-6">
														<div class="form-group">
															<label class="label-control" for="daysWorked">Days Worked: </label>
															<div class="position-relative has-icon-left">
																<input type="text" id="daysWorked" class="form-control" (keyup)="updateDeduction($event)" [(ngModel)]="model.days_worked" required #daysWorked="ngModel" name="daysWorked">
																<div class="form-control-position">
																	<i class="ft-calendar"></i>
																</div>
																<small class="form-text text-muted danger" *ngIf="!daysWorked.valid && 
																(daysWorked.dirty || daysWorked.touched)">Days Worked is required!</small>
															</div>
														</div>
														<div class="form-group">
																<label class="label-control" for="totalDeduction"><strong> Total Deduction: </strong></label>
																<div class="position-relative has-icon-left">
																	<input type="text" id="totalDeduction" class="form-control" [(ngModel)]="model.total_deduction" disabled #totalDeduction="ngModel" [ngModelOptions]="{updateOn: 'blur'}" name="totalDeduction">
																	<div class="form-control-position">
																		<!-- <i class="ft-briefcase"></i> -->
																		$
																	</div>
																	<small class="form-text text-muted danger" *ngIf="!totalDeduction.valid && 
																	(totalDeduction.dirty || totalDeduction.touched)">Total Deduction is required!</small>
																</div>
															</div>	
															<hr>
														<div class="form-group">
																<label class="col-md-3 label-control" for="netPay"><strong> Net Pay: </strong></label>
																<div class="position-relative has-icon-left">
																	<input type="text" id="netPay" class="form-control" [(ngModel)]="model.net_pay" disabled #netPay="ngModel" [ngModelOptions]="{updateOn: 'blur'}" name="netPay">
																	<div class="form-control-position">
																		<!-- <i class="ft-briefcase"></i> -->
																		$
																	</div>
																	<small class="form-text text-muted danger" *ngIf="!netPay.valid && 
																	(netPay.dirty || netPay.touched)">Total Deduction is required!</small>
																</div>
															</div>
													</div>
</div>
							
							</div>

							<div class="form-actions right">
									<button type="button" class="btn btn-raised btn-warning mr-1">
										<i class="ft-x"></i> Cancel
									</button>
									<button type="submit" class="btn btn-raised btn-primary" [disabled]="!f.valid">
										<i class="fa fa-check-square-o"></i> Save
									</button>
								</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>
