<div class="wrapper">
   <div class="app-sidebar doNotPrint" data-active-color="white" data-background-color="black" data-image="assets/img/sidebar-bg/01.jpg">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background"></div>
    </div>
    <div class="main-panel">
        <app-navbar></app-navbar>

        <div class="main-content">
            <div class="content-wrapper">
                <div class="container-fluid">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
        <app-footer class="doNotPrint"></app-footer>
    </div>
</div>


