<!--Basic User Details Starts-->
<!-- Overlap Image Cards start -->
<section id="overlap-image-examples">
    <div class="row">
        <div class="col-12 mt-3 mb-3">
            <div class="content-header">Attendance Detail</div>
            <p class="content-sub-header">Personal information about attendance</p>
        </div>
    </div>

    <div class="row" matchHeight ="card">
     
        <div class="col-12">
            <div class="card card-inverse bg-primary text-center">
                <div class="card-body">
                    <div class="card-img overlap">
                        <img src="{{data.employee.picture}}" alt="Employee Photo" width="190" class="mb-1">
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">{{ data.employee.first_name }}</h4>
                        <p class="card-text">Addis Ababa</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>

<!-- Minimal statistics with bg color section start -->
<section id="minimal-statistics-bg">
    <div class="row" matchHeight="card">
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card bg-warning">
                <div class="card-body">
                    <div class="px-3 py-3">
                        <div class="media">
                            <div class="media-body white text-left">
                                <h3>278</h3>
                                <span>Days Present</span>
                            </div>
                            <div class="media-right align-self-center">
                                <i class="icon-rocket white font-large-2 float-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card bg-success">
                <div class="card-body">
                    <div class="px-3 py-3">
                        <div class="media">
                            <div class="media-body white text-left">
                                <h3>18</h3>
                                <span>Sick Leaves</span>
                            </div>
                            <div class="media-right align-self-center">
                                <i class="icon-user white font-large-2 float-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card bg-danger">
                <div class="card-body">
                    <div class="px-3 py-3">
                        <div class="media">
                            <div class="media-body white text-left">
                                <h3>9</h3>
                                <span>Off days</span>
                            </div>
                            <div class="media-right align-self-center">
                                <i class="icon-pie-chart white font-large-2 float-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card bg-primary">
                <div class="card-body">
                    <div class="px-3 py-3">
                        <div class="media">
                            <div class="media-body white text-left">
                                <h3>8</h3>
                                <span>Holydays</span>
                            </div>
                            <div class="media-right align-self-center">
                                <i class="icon-support white font-large-2 float-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- // Minimal statistics with bg color section end -->

<!--Calendar Starts-->
<section id="calendar">
    <div class="row">
        <div class="col-sm-12">
            <div class="content-header">Monthly Attendance</div>
            <p class="content-sub-header">This is the monthly attendance of {{ data.employee.first_name }}.</p>
        </div>
    </div>
    
<ng-template #loading>
        <div class="text-center">
          <i class="fa fa-spin fa-spinner fa-5x"></i>
          <br>
          Loading attendance...
        </div>
      </ng-template>
      
      <div *ngIf="events$ | async; else loading; let events">
              <div class="card-block">
                      <div class="d-flex flex-wrap justify-content-md-between mb-3 no-gutters">
                          <div class="col">
                              <div class="btn-group d-none d-sm-none d-md-none d-lg-block">
                                  <a class="btn btn-raised btn-primary" 
                                  mwlCalendarPreviousView 
                                  [view]="view" 
                                  [(viewDate)]="viewDate"
                                  (viewDateChange)="previousMonth.next(viewDate)"
                                  >
                                      Previous
                                  </a>
                                  <a class="btn btn-raised btn-danger" mwlCalendarToday [(viewDate)]="viewDate">
                                      Today
                                  </a>
                                  <a class="btn btn-raised btn-primary"
                                   mwlCalendarNextView [view]="view" 
                                   [(viewDate)]="viewDate"
                                   (viewDateChange)="nextMonth.next(viewDate)"
                                   >
                                      Next
                                  </a>
                              </div>
      
                        
                          </div>
                          <div class="col text-center align-self-center">
                              <h6 class="text-uppercase mb-0">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h6>
                          </div>
                          <div class="col text-right">
                              <div class="btn-group d-none d-sm-none d-md-none d-lg-block">
                                  <a class="btn btn-raised btn-primary" (click)="view = 'month'" [class.active]="view === 'month'">
                                      Month
                                  </a>
                                  <!-- <a class="btn btn-raised btn-primary" (click)="view = 'week'" [class.active]="view === 'week'">
                                      Week
                                  </a>
                                  <a class="btn btn-raised btn-primary" (click)="view = 'day'" [class.active]="view === 'day'">
                                      Day
                                  </a> -->
                              </div>
      
                              <div class="btn-group d-block d-sm-block d-md-block d-lg-none">
                                  <a class="btn btn-raised btn-primary btn-icon-icon" (click)="view = 'month'" [class.active]="view === 'month'">
                                      <i class="fa fa-th"></i>
                                  </a>
                                  <!-- <a class="btn btn-raised btn-primary btn-icon-icon" (click)="view = 'week'" [class.active]="view === 'week'">
                                      <i class="fa fa-columns"></i>
                                  </a>
                                  <a class="btn btn-raised btn-primary btn-icon-icon" (click)="view = 'day'" [class.active]="view === 'day'">
                                      <i class="fa fa-th-list"></i>
                                  </a> -->
                              </div>
      
                          </div>
                      </div>
        <div [ngSwitch]="view">
          <mwl-calendar-month-view
            *ngSwitchCase="'month'"
            [viewDate]="viewDate"
            [events]="events"
            [activeDayIsOpen]="activeDayIsOpen"
            (dayClicked)="dayClicked($event.day)"
            (eventClicked)="eventClicked($event.event)">
          </mwl-calendar-month-view>
          <mwl-calendar-week-view
            *ngSwitchCase="'week'"
            [viewDate]="viewDate"
            [events]="events"
            (eventClicked)="eventClicked($event.event)">
          </mwl-calendar-week-view>
          <mwl-calendar-day-view
            *ngSwitchCase="'day'"
            [viewDate]="viewDate"
            [events]="events"
            (eventClicked)="eventClicked($event.event)">
          </mwl-calendar-day-view>
        </div>
      </div>
      </div>
</section>
