
<div class="row">
		<div class="col-md-10">
			<div class="card">
				<div class="card-header">
					<div class="form-actions right">
							<h4 class="card-title" id="horz-layout-icons">Upload Attendance</h4>
					</div>
					<hr>
					<!-- <p class="mb-0">Add notice/guide here</p> -->
				</div>
				<div class="card-body">
					<div class="px-3">
						<div class="row">
							<div class="col-md-10">
								<form class="form form-horizontal"  #f="ngForm"  (submit)="onSubmit()">
									<div class="form-body">
										<div class="form-group row">
											<label class="col-md-3 label-control">CSV: </label>
											<div class="col-md-9">
												<div >
			
													<input type="file" 
													#fileupload name="csv" (change)="fileChange($event)" class="inputfile" id="embedpollfileinput" />
											
											<label for="embedpollfileinput" >
													<i class="ft-upload"></i> 
													Upload the generated csv here
											</label>
											
											</div> 
											</div>
										</div>
										
	
	
									</div>
										<div class="form-actions right">
										<button type="button" class="btn btn-raised btn-warning mr-1">
											<i class="ft-x"></i> Cancel
										</button>
										<button type="submit" class="btn btn-raised btn-primary" [disabled]="!f.valid">
											<i class="fa fa-check-square-o"></i> Save
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	